@import url('../style.css');
// Home Page

// Other
.hr{
    width: 78vw;
    border: 1px solid #e6e6e6;
    margin: 30px 0;
}

// Header
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background: url('../../img/bg.jpg') top / cover;
    h1, p{
        margin: 0;
        color: #fff;
        padding: 0;
        line-height: 2.4rem;
        text-shadow: 0 0 7px #000;
    }
    h1{
        font-size: 42px;
    }
    p{
        font-size: 21px;
    }
}

// Article
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 70vw;
        margin: 2vh 0 0 0;
        h1{
            font-size: 34px;
            margin: 30px 0 10px 0;
            letter-spacing: .5px
        }
        p{
            font-size: 23px;
            margin: 10px 0 0 1.5rem;
        }
    }
}

// Media
@media screen and (max-width:920px){
    header{
        height: 75vh;
        background-position: top;
    }
    article{
        max-width: 70vh;
    }
}

@media screen and (max-width:768px){
    header{
        height: 70vh;
        h1{
            font-size: 46px;
            margin: 0;
        }
        p{
            font-size: 22px;
            margin: 5px 0 0 0;
        }
    }
}